.main {
    position: relative;
    flex-grow: 1;
    background: $milk_bg;
}

.main-shadow {
    // box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}
