.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media screen and (max-width: 719px) {
        justify-content: space-between;
    }
    .navigation__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
        margin: 0;
        padding: 20px 0 20px 0;

        list-style: none;

        @media screen and (max-width: 719px) {
            opacity: 0;
            flex-grow: 1;
            margin: 0 0 0 40px;
        
        }
        @media screen and (max-width: 449px) {
            gap: 30px;
        }
        
        .navigation__item {
            position: relative;

            .navigation__link {

                @include font_itemText;

                text-decoration: none;
                color: $milk_bg;
                
                &:hover {
                    color: $yellow;
                    transition: 0.5s;

                    i {
                        color: $yellow;                   
                        transition: 0.5s;
                    }
                }

                i {
                    margin: 0 10px 0 0;
                    color: $milk_bg;
                    transition: 0.5s;
                }
                
                @media screen and (max-width: 449px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }    
            }

            &:hover {
                .navigation__sublist {
                    visibility: visible;
                    opacity: 1;
                    transition: 1;
                }
            }
        }
    }
}

/*! Subtitle */

.navigation__sublist {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    width: 170%;
    margin: 1px 10px 10px 10px;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    border: 1px solid $green_bg;
    outline: 1px solid $milk_bg;
    background: $green_bg;

    @media screen and (max-width: 719px) {
        width: 90%;
    }
    .navigation__subitem {
        margin: 10px 0 20px 0;
        @include font_itemText;

        .navigation__sublink {
            text-decoration: none;
            color: $milk_bg;

            &:hover {
                color: $yellow;
                transition: 0.5s;

                i {
                    color: $yellow;                   
                    transition: 0.5s;
                }
            }

            i {
                margin: 0 10px 0 0;
                color: $milk_bg;
                transition: 0s;
            }
        }
    }
}


/*! burger */

.burger {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
    margin: 0 10px 0 0;

    @media screen and (min-width: 720px) {
        opacity: 0;
        pointer-events: none;
    }

    .burger__line {
        position: relative;
        transition: 1s;
        display: block;
        width: 30px;
        height: 4px;
        background: $white;
    }
}

.burger-show {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-self: center;
    margin: 0 10px 0 0;
    transition: 1s;
    @media screen and (min-width: 720px) {
        opacity: 0;
    }
    .burger__line:nth-child(1) {
        position: relative;
        transform: rotate(90deg) scale(1.0) translateY(5px);
        transition: 1s;
        display: block;
        width: 30px;
        height: 4px;
        background: $white;
    }
    .burger__line:nth-child(2) {
        position: relative;
        transform: rotate(90deg) scale(1.0) translateY(10px);
        transition: 1s;
        display: block;
        width: 30px;
        height: 4px;
        background: $white;
    }
    .burger__line:nth-child(3) {
        position: relative;
        transition: 1s;
        transform: rotate(90deg) scale(1.0) translateY(15px);
        display: block;
        width: 30px;
        height: 4px;
        background: $white;
    }
}

/*! dropdown */


.navigation {
    @media screen and (max-width: 719px) {
        justify-content: space-between;
    }
    .navigation__list--dropwdown {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 0.9;
        justify-content: center;
        gap: 10px;
        max-width: 100%;
        margin: 0;
        padding: 20px 0 20px 0;
        list-style: none;
        .navigation__item--dropwdown {
            position: relative;
            margin: 0 0 0 30px;
            @media screen and (max-width: 719px) {
        
            }
            .navigation__link--dropwdown {
                @include font_itemText;

                text-decoration: none;
                color: $milk_bg;

                i {
                    margin: 0 10px 0 0;
                }
                @media screen and (max-width: 719px) {
        
                }
            }

            .navigation__sublist--dropwdown {
                display: flex;
                flex-direction: column;
                gap: 10px;
                @include font_itemText;
                text-decoration: none;
                color: $milk_bg;
                @media screen and (max-width: 719px) {
        
                }
                .navigation__subitem--dropwdown {
                    margin: 10px 0 0 0;
                    @include font_itemText;
                    text-decoration: none;
                    color: $milk_bg;
                    @media screen and (max-width: 719px) {
        
                    }
                    .navigation__sublink--dropwdown {
                        @include font_itemText;
                        text-decoration: none;
                        color: $milk_bg;

                        i {
                            margin: 0 10px 0 0;
                        }
                        @media screen and (max-width: 719px) {
        
                        }
                    }
                }
            }
        }
    }
}